<main>
  <%= form_for @faq do |f| %>
  <div class="abouts-form">
    <div class="field">

      <%= f.label :question %>
      <%= f.text_area :question %>

      <%= f.label :answer %>
      <%= f.text_area :answer %>
    </div>

    <div class="submit-button">
      <%= f.submit %>
    <button><a rel="stylesheet" href="/faqs"/>Cancel</button>
    </div>
  </div>
  <% end %>
</main>