<main>
  <!-- Main -->
  <div class="faq-container">

    <div id= "faq-main-title">
      <h1 class="heading_with_background">Frequently Asked Questions</h1>
    </div>

    <%= @faqs.each do |faq| %>

    <div id="faq_nested_routes">

      <h3><%= faq.question %></h3>
      <p><%= faq.answer %></p>

    </div>
  </div>

  <div class="admin-buttons">
    <% if current_admin %>
    <button><%= link_to "Edit FAQ", edit_faq_path(faq) %></button>
    <button><%= link_to "Delete FAQ", faq_path(faq), method: :delete, data: {confirm: "Are you sure you want to delete this FAQ?"} %></button>
    <% end %>
    <hr>
    <% end %>

    <% if current_admin %>
    <button><%= link_to "Add New FAQ", new_faq_path(@faq)%></button>
    <% end %>
    <br>
    <br>
    <br>
  </div>
</main>
