
<body>
  <main>
    <% @therapists.each do |therapist| %>
    <!-- Both Therapist -->
    <h1 class="heading_with_background"><%= therapist.therapists_title %></h1>
<!--
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="image1"></div>
    </div>
    <div class="col-md-6 right-col">
      <div class="side-image-content">
        <p><%= therapist.therapists_text %></p>
      </div>
    </div>
  </div> -->

  <div class="side-image">
    <div class="images-wrapper1"></div>
    <div class="side-image-content">
      <br>
      <p><%= therapist.therapists_text %></p>
    </div>
  </div>


  <h1 class="heading_with_background"><%= therapist.therapist1_title %></h1>

  <div class="side-image">
    <div class="images-wrapper2"></div>
    <div class="side-image-content">
      <br>
      <span class="link"><h5><a href="<%= therapist.therapist1_link %>" target="_blank">Deana's Website</a></h5></span>
      <p><%= therapist.therapist1_text %></p>
    </div>
  </div>

  <h1 class="heading_with_background"><%= therapist.therapist2_title %></h1>

  <div class="side-image">
    <div class="images-wrapper3"></div>
    <div class="side-image-content">
      <br>
      <span class="link"><h5><a href="<%= therapist.therapist2_link %>" target="_blank">Camilla's Website</a></h5></span>
      <p><%= therapist.therapist2_text %></p>
    </div>
  </div>

  <div class="admin-buttons">
    <% if current_admin %>
    <button><%= link_to "Edit", edit_therapist_path(therapist) %></button>
    <button><%= link_to "Delete", therapist_path(therapist), method: :delete, data: {confirm: "Are you sure you want to delete this?"} %></button>
    <% end %>
  </div>
  <% end %>

  <% if current_admin %>
  <button class="new-therapist"><%= link_to "New", new_therapist_path(@therapist)%></button>
  <% end %>
</main>
</body>