<%= form_for @about do |f| %>
  <%# @about.errors.full_messages.first if @about.errors.any? %>
  <div class="abouts-form">
    <div class="field">
      <%= f.label :main_title %><br/>
      <%= f.text_field :main_title %>
    </div>
    <div class="field">
      <%= f.label :main_paragraph %><br/>
      <%= f.text_area :main_paragraph %>
    </div>
    <div class="field">
      <%= f.label :approach_title %><br/>
      <%= f.text_field :approach_title %>
    </div>
    <div class= "field">
      <%= f.label :approach_paragraph %><br/>
      <%= f.text_area :approach_paragraph %>
    </div>
    <div class="field">
      <%= f.label :education_title %><br/>
      <%= f.text_field :education_title%>
    </div>
    <div class="field">
      <%= f.label :education_paragraph %><br/>
      <%= f.text_area :education_paragraph %>
    </div>
    <div class="field">
      <%= f.label :professional_membership_title %><br/>
      <%= f.text_field :professional_membership_title %>
    </div>

    <h3>Profesional Memberships</h3>
      <div class="field">
      <%= f.fields_for :propoints do |propoints_form| %><br/>
        <%= render "propoint_fields", f: propoints_form %>
      </div>
      <% end %>
      <div class="about-links">
        <%= link_to_add_association "Add A Professional Membership", f, :propoints %>
      </div>
      <div class="submit-button">
        <%= f.submit %>
      </div>
    </div>
<% end %>