<main>
  <body>
  <div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
       <% @abouts.each do |about| %>
    <div class="about-container">
      <div id= "about-main-title">
        <h1 class="heading_with_background"><%= about.main_title %></h1>
      </div>
      <div id="about-main-paragraph">
        <p><%= about.main_paragraph %></p>
      </div>
      <div id="about-approach-title">
        <h4><%= about.approach_title %></h4>
      </div>
      <div id="about-approach-paragraph">
        <p><%= about.approach_paragraph %></p>
      </div>
      <div id="about-education-title">
        <h4><%= about.education_title %></h4>
      </div>
      <div id="about-education-paragraph">
        <p><%= about.education_paragraph %></p>
      </div>
      <div id="about-professional-membership-title">
        <h4>Professional Memberships<%# about.professional_membership_title %></h4>
      </div>
      <div id="about-professional-membership-paragraph">
        <ul>
          <% about.propoints.each do |propoint| %>
          <li><%= propoint.point %></li>
          <% end %>
        </ul>
      </div>
    </div>

      <% if current_admin %>
        <div id="about_buttons">
          <%= link_to "Edit", edit_about_path(about) %>
          <%= link_to "Delete", about_path(about), method: :delete, data: {confirm: "Are you sure you want to delete this bio?"} %>
        </div>
      <% end %>
    <% end %>

      <% if current_admin %>
        <%= link_to "New", new_about_path(@about)%>
      <% end %>
    </div>
  </div>
  </body>
</main>