<body>
  <main>
    <% @resources.each do |resource| %>
    <!-- Main -->
    <div class="resource-container">

      <div id= "resource-main-title" >
        <h1 class="heading_with_background"><%= resource.main_title %></h1>
      </div>
      <div id="resource-main-paragraph">
        <p><%= resource.main_paragraph %></p>
      </div>

      <!-- Phone -->
      <div id="resource-telephone-title">
        <h4><%= resource.telephone_title %></h4>
      </div>

      <ul>
        <% resource.telpoints.each do |telpoint| %>
        <div id="resource_telephone_points">
          <li><%= telpoint.telephone_company %></li>
          <a href= "tel:<%= telpoint.telephone_number %>"><%= telpoint.telephone_number %></a>
        </div>
        <% end %>
      </ul>


      <!-- Website -->
      <div id="resource-website-title">
        <h4><%= resource.website_title %></h4>
      </div>


      <ul>
        <% resource.webpoints.each do |webpoint| %>
        <li><%= webpoint.website_company %><br/></li>
        <div id="resource_website_points">
          <a href= "<%= webpoint.website_link %>" target="_blank"><%= webpoint.website_link %></a>
        </div>
        <% end %>
      </ul>


      <!-- Article -->
      <div id="resource-article-title">
        <h4><%= resource.article_title %></h4>
      </div>

      <ul>
        <% resource.articlepoints.each do |articlepoint| %>

        <div id="resource_website_points">
          <li><%= articlepoint.article_name %></li>
          <a href= "<%= articlepoint.article_link %>" target="_blank"><%= articlepoint.article_link %></a>
        </div>
        <% end %>
      </ul>


    </div>

    <div class="admin-buttons">
      <% if current_admin %>
      <button><%= link_to "Edit", edit_resource_path(resource) %></button>
      <button><%= link_to "Delete", resource_path(resource), method: :delete, data: {confirm: "Are you sure you want to delete this bio?"} %></button>
      <% end %>

      <% end %>

      <% if current_admin %>
      <button><%= link_to "New", new_resource_path(@resource)%></button>
      <% end %>
    </div>
  </main>
</body>